@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  background-color: #181818;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #b3b3b3;
}
.navbar {
  font-size: 120%;
  text-align: center;
  padding: 18px;
  margin: 0 auto;
  padding-top: 20px;
}
.navbar a {
  text-decoration: none;
  padding: 50px;
  color: #b3b3b3;
}
.navbar a:hover {
  color: #e8e8e8;
  font-weight: bold;
}
.content {
  padding: 30px;
}
.home h2 {
  text-align: center;
  margin-left: 16px;
  letter-spacing: 5px;
  color: #b3b3b3;
  padding-top: 10px;
}
.home h1 {
  text-align: center;
  padding-bottom: 19px;
  font-size: 100px;
  color: #e8e8e8;
  padding-top: 12.75%;
}
.skills h1 { 
  padding-top: 300px;
  text-align: center;
  font-size: 70px;
  color: #e8e8e8;
  padding-bottom: 55px;
}
.skills h2 {
  text-align: left;
  font-size: 35px;
  padding-top: 50px;
  padding-left: 20px;
  margin-left: 20px;
}
.skills table {
  border-collapse: separate;
  margin: 0 auto;
  border: 4px solid #e8e8e8;
  width: 80%; /* specify a width for the table */
}
.skills table tr:first-child td {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 50px;
  font-size: 35px;
  text-align: right;
  font-weight: bold;
  color: #e8e8e8;
}
.skills table tr:nth-child(2) td {
  padding-left: 60px;
  padding-bottom: 50px;
  font-size: 18px;
  text-align: right;
  padding-right: 50px;
}
.skills table tr:nth-child(2) td {
  position: relative; /* create a new positioning context */
}
.skills table tr:nth-child(2) td:before {
  content: "";
  position: absolute;
  left: 45px; /* adjust the position of the line */
  top: -12px;
  bottom: 37px;
  width: 1px; /* specify the width of the line */
  background-color: #666565; /* specify the color of the line */
}
.skills table tr:first-child td .Coding-Logo {
  width: 40px;
  height: 40px;
  vertical-align: -12%;
  padding-right: 15px;
}
.skills table tr:first-child td .React-Logo {
  width: 45px;
  height: 40px;
  vertical-align: -12%;
  padding-right: 15px;
}
.skills table tr:first-child td .Data-Logo {
  width: 42px;
  height: 42px;
  vertical-align: -12%;
  padding-right: 15px;
}
.work h1{
  font-size: 70px;
  padding-top: 250px;
  color:  #e8e8e8;
  text-align: right;
  padding-right: 135px;
}
.contact h1{
  font-size: 70px;
  padding-top: 250px;
  color:  #e8e8e8;
  padding-left: 135px;
  padding-bottom: 20px;

}
.contact label[for="name"],
.contact label[for="email"],
.contact label[for="message"] {
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}
.contact input[type="text"] {
  padding-left: 135px;
  width: 20%;
  padding: 10px;
  font-size: 15px;
  border: 3px solid #b3b3b3;
  border-radius: 4px;
}
.contact input[type="email"] {
  padding-left: 135px;
  width: 20%;
  padding: 10px;
  font-size: 15px;
  border: 3px solid #b3b3b3;
  border-radius: 4px;
}
.contact textarea {
  width: 50%;
  height: 100px; /* Increase the height to 100px */
  padding: 10px;
  font-size: 15px;
  border: 3px solid #b3b3b3;
  border-radius: 4px;
  resize: vertical;
}
.contact label {
  padding-top: 20px;
  font-weight: bold;
  font-size: 22px;
  padding-left: 135px;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  margin-left: 135px;
}
.contact button {
  margin-left: 15px;
  vertical-align: 31%;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  border-color: #b3b3b3;
  background-color: transparent;
  color: #b3b3b3;
}
.contact button:hover {
  transform: scale(1.06);
}
.contact-message {
  font-weight: bold;
  color: #e8e8e8;
  padding-left: 135px;
  padding-top: 15px;
  font-size: 20px;
}
.Linkedin-Logo{
  float: right;  
  width: 40px;
  height: 40px;
  padding-right: 135px;
  transition: transform 0.2s ease-in-out;
}
.Github-Logo{
  float: right;
  width: 43px;
  height: 43px;
  padding-right: 135px;
  transition: transform 0.2s ease-in-out;
}
.Gmail-Logo{
  float: right;
  width: 39.9px;
  height: 30px;
  padding-right: 135px;
  transition: transform 0.2s ease-in-out;
}
.Linkedin-Logo:hover,
.Github-Logo:hover,
.Gmail-Logo:hover {
  transform: scale(1.05);
}
